html {
  margin: 0.5rem;
  font-size: 16px;
}

body {
  font-family: 'Istok Web', sans-serif;
  margin: 0 auto;
}

h1 {
  margin: inherit;
}

form {
  width: 50%;
  border: solid 2px rgba(0, 0, 0, 1) ;
  outline: 2px;
}

#task-details {
  margin: .25rem 0;
  padding-left: 8px;
  font-family: inherit;
  font-size: 2.5rem;
  width: 95%;
  max-height: 5rem;
  border: 0px solid transparent;
  outline: none;
}



#submit-todo {
  margin: 1% 1% 1% auto;
  padding: 5px;
  display: block;
  font-family: inherit;
  color: gray;
  font-weight: 600;
  background: none;
  border: solid 0px transparent;
  border-radius: 0.25rem;
  outline: none;
  background-color: lightgray;
}

#submit-todo:hover, #submit-todo:active {
  background-color: darkgray;
  /* color: white; */
  transition: all .5s ease-out;
  cursor: pointer;
}


ul {
  margin: 1rem 0;
  padding: 0 .25rem;
}

li {
  list-style: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  margin: .5rem 0;
  min-height: 5rem;
  width: 40%;
  overflow-wrap: break-word;
  hyphens: auto;
  overflow: hidden;
}

p {
  font-family: 'Caveat', cursive;
  font-size: 2rem;
  margin: 0;
  padding: 2px;
}

li > input {
  display: block;
  margin: 0 1% 0 auto;
}